@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Acá definimos los colores personalizados de tu manual de marca */
  --color-zonasyc-red: #E60000;
  --color-zonasyc-dark: #0F172A;
  --color-zonasyc-card: #1E293B;
}